@use '../abstracts/' as *;

#course {
	margin: 50px 0;
	.container-fluid {
		.course__wrapper {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 100px;
			.course__left {
				grid-column: 1 / 3;
				@include alignCenter(column, center, baseline);
				.header__medium {
					margin-bottom: 20px;
				}
				p {
					margin: 15px 0;
				}
				.main__button {
					margin-top: 20px;
				}
			}
			.course__right {
				grid-column: 3 / 6;
				display: grid;
				grid-template-columns: repeat(1, 1fr);
				gap: 40px;
				position: relative;
				&::before {
					content: '';
					@include stain(
						15vw,
						15vw,
						#1597bb,
						60%,
						auto,
						auto,
						60%
					);
				}
				&::after {
					content: '';
					@include stain(
						15vw,
						15vw,
						#270082,
						40%,
						auto,
						auto,
						40%
					);
					opacity: 0.8;
				}
				.course {
					background-color: $color-gray;
					border: 3px solid $color-gray;
					transition: 0.2s ease;
					border-radius: 20px;
					padding: 30px 40px;
					z-index: 10;
					&:hover {
						border: 3px solid $color-blue;
						box-shadow: 0px 0px 10px 2px $color-blue;
					}
				}
			}
		}
	}
}
.top,
.bottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
}

@media (max-width: 576px) {
	.top,
	.bottom {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
		text-align: center;
	}
	.top {
		margin-right: 0 !important;
	}
	.bottom {
		margin-left: 0 !important;
	}
}
.top {
	margin-right: 50px;
}
.bottom {
	margin-left: 50px;
}
