// Colors

$color-blue: #0057ff;
$color-light-blue: #6fa2fa;
$color-pink: #e47bb2;
$color-orange: #fa9246;
$color-green: #87d8c8;
$color-white: #fff;

// Font sizes
$font-text-main: 18px;
$font-text-big: 20px;
$font-medium: 40px;
$font-main: 55px;
$font-big: 70px;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

h1,h2,h3,h4,h5,h6 {
    color: $color-white;
}
.header__big {
    font-size: $font-big;
    font-weight: 700;
}
.header__main {
    font-size: $font-main;
    font-weight: 700;
}
.header__medium {
    font-size: $font-medium;
    font-weight: 700;
}
.text__big {
    font-size: $font-text-big;
    font-weight: 500;
}
.text__medium {
    font-size: $font-text-main;
    font-weight: 400;
opacity: 0.7;
}

// .main__button {
//     padding: 10px 20px;
//     background-color: $color-blue;
// }