@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.header__big {
  font-size: 70px;
  font-weight: 700;
}

.header__main {
  font-size: 55px;
  font-weight: 700;
}

.header__medium {
  font-size: 40px;
  font-weight: 700;
}

.text__big {
  font-size: 20px;
  font-weight: 500;
}

.text__medium {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
}

.main__button {
  padding: 8px 20px;
  background: #0057ff;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 2px #0057ff;
}

.white__button {
  padding: 8px 20px;
  background: #fff;
  color: #000;
  mix-blend-mode: screen;
  border-radius: 20px;
}

.outline__button {
  padding: 8px 20px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

.navbar {
  background: transparent !important;
  padding: 25px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar .container-fluid {
  grid-column: 1/13;
}

.navbar .container-fluid .navbar-brand {
  color: #fff;
}

.navbar .container-fluid .collapse::before {
  content: "";
  position: absolute;
  top: 0;
  box-shadow: 0px 0px 100px 30px #410091;
  z-index: -1;
  width: 300px;
}

.navbar .container-fluid .collapse li {
  margin: 0 20px;
}

.navbar .container-fluid .collapse li a {
  color: #fff;
}

.navbar .container-fluid .collapse .nav__buttons {
  display: flex;
}

.navbar .container-fluid .collapse .nav__buttons li {
  margin: 0 6px;
}

#header {
  width: 100vw;
  height: 65vh;
  background: linear-gradient(315deg, hsl(207deg, 73%, 13%) 0%, hsl(267deg, 100%, 2%) 100%) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header .header__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 100%;
}

#header .header__container .header__img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#header .header__container .header__side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20%;
}

#header .header__container .header__left {
  grid-column: 1/6;
}

#header .header__container .header__left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#header .header__container .header__left .header__big {
  text-transform: uppercase;
}

#header .header__container .header__right {
  grid-column: 10/13;
}

#header .header__container .header__right .header__info:nth-child(1) .header__main {
  background: linear-gradient(to bottom right, #59a3d4 0%, #5360bd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header .header__container .header__right .header__info:nth-child(2) .header__main {
  background: linear-gradient(to bottom right, #c35d94 0%, #7d46be 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header .header__container .header__right .header__info:nth-child(3) .header__main {
  background: linear-gradient(to bottom right, #e8722a 0%, #cf5566 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#category .container-fluid .category__wrapper {
  grid-template-columns: repeat(4, 1fr);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
* a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #091018;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container-fluid {
  width: clamp(600px, 90%, 1600px);
}

.navbar-collapse {
  flex-grow: 0 !important;
}/*# sourceMappingURL=style.css.map */